.p-navigation bar.Navigation_bar {
display: flex;
justify-content: center;
width: 100%;
height: 100px;
align-items: center;
}
.p-navigation bar.Hero_section {
display: flex;
justify-content: center;
}
.p-navigation bar.Album_section {
display: flex;
justify-content: center;
}
.p-navigation bar.Slider_section {
display: flex;
justify-content: center;
}
.p-navigation bar.mng_slider {
display: flex;
width: 85%;
}
.p-navigation bar.whole_slider {
display: flex;
width: 80%;
height: ;
flex-direction: column;
}
.p-navigation bar.bottoms {
display: flex;
width: 100%;
height: 500px;
position: relative;
}
.p-navigation bar.Flex282 {
display: flex;
}
.p-navigation bar.Flex283 {
display: flex;
}
.p-navigation bar.Flex285 {
display: flex;
column-gap: 24px;
min-width: ;
padding-top: 65px;
padding-bottom: 65px;
}
.p-navigation bar.Flex290 {
display: flex;
width: 380px;
height: 470px;
flex-direction: column;
}
.p-navigation bar.Flex288 {
display: flex;
width: 380px;
height: 100%;
justify-content: center;
align-items: center;
}
.p-navigation bar.Flex287 {
display: flex;
width: 380px;
height: 100px;
flex-direction: column;
justify-content: space-between;
row-gap: ;
column-gap: ;
padding-left: 32px;
padding-top: 32px;
padding-right: 32px;
padding-bottom: 32px;
background-color: #ffffffff;
}
.p-navigation bar.Flex286 {
display: flex;
align-items: center;
column-gap: 10px;
}
.p-navigation bar.Div87 {
;
}
.p-navigation bar.Flex289 {
display: flex;
}
.p-navigation bar.Div88 {
width: 380px;
height: 305px;
}
.p-navigation bar.Flex295 {
display: flex;
width: 380px;
height: 470px;
flex-direction: column;
}
.p-navigation bar.Flex293 {
display: flex;
width: 380px;
height: 100%;
justify-content: center;
align-items: center;
}
.p-navigation bar.Flex292 {
display: flex;
width: 380px;
height: 100px;
flex-direction: column;
justify-content: space-between;
row-gap: ;
column-gap: ;
padding-left: 32px;
padding-top: 32px;
padding-right: 32px;
padding-bottom: 32px;
background-color: #ffffffff;
}
.p-navigation bar.Flex291 {
display: flex;
align-items: center;
column-gap: 10px;
}
.p-navigation bar.Div89 {
;
}
.p-navigation bar.Flex294 {
display: flex;
}
.p-navigation bar.Div90 {
width: 380px;
height: 305px;
}
.p-navigation bar.Flex300 {
display: flex;
width: 380px;
height: 470px;
flex-direction: column;
}
.p-navigation bar.Flex298 {
display: flex;
width: 380px;
height: 100%;
justify-content: center;
align-items: center;
}
.p-navigation bar.Flex297 {
display: flex;
width: 380px;
height: 100px;
flex-direction: column;
justify-content: space-between;
row-gap: ;
column-gap: ;
padding-left: 32px;
padding-top: 32px;
padding-right: 32px;
padding-bottom: 32px;
background-color: #ffffffff;
}
.p-navigation bar.Flex296 {
display: flex;
align-items: center;
column-gap: 10px;
}
.p-navigation bar.Div91 {
;
}
.p-navigation bar.Flex299 {
display: flex;
}
.p-navigation bar.Div92 {
width: 380px;
height: 305px;
}
.p-navigation bar.Flex305 {
display: flex;
width: 380px;
height: 470px;
flex-direction: column;
}
.p-navigation bar.Flex303 {
display: flex;
width: 380px;
height: 100%;
justify-content: center;
align-items: center;
}
.p-navigation bar.Flex302 {
display: flex;
width: 380px;
height: 100px;
flex-direction: column;
justify-content: space-between;
row-gap: ;
column-gap: ;
padding-left: 32px;
padding-top: 32px;
padding-right: 32px;
padding-bottom: 32px;
background-color: #ffffffff;
}
.p-navigation bar.Flex301 {
display: flex;
align-items: center;
column-gap: 10px;
}
.p-navigation bar.Div93 {
;
}
.p-navigation bar.Flex304 {
display: flex;
}
.p-navigation bar.Div94 {
width: 380px;
height: 305px;
}
.p-navigation bar.Flex310 {
display: flex;
width: 380px;
height: 470px;
flex-direction: column;
}
.p-navigation bar.Flex308 {
display: flex;
width: 380px;
height: 100%;
justify-content: center;
align-items: center;
}
.p-navigation bar.Flex307 {
display: flex;
width: 380px;
height: 100px;
flex-direction: column;
justify-content: space-between;
row-gap: ;
column-gap: ;
padding-left: 32px;
padding-top: 32px;
padding-right: 32px;
padding-bottom: 32px;
background-color: #ffffffff;
}
.p-navigation bar.Flex306 {
display: flex;
align-items: center;
column-gap: 10px;
}
.p-navigation bar.Div95 {
;
}
.p-navigation bar.Flex309 {
display: flex;
}
.p-navigation bar.Div96 {
width: 380px;
height: 305px;
}
.p-navigation bar.tops {
display: flex;
width: 100%;
height: 160px;
flex-direction: column;
align-items: stretch;
justify-content: flex-end;
padding-top: 80px;
}
.p-navigation bar.Flex278 {
display: flex;
justify-content: space-between;
width: 100%;
height: 160px;
}
.p-navigation bar.Flex275 {
display: flex;
}
.p-navigation bar.Flex268 {
display: flex;
height: ;
width: ;
justify-content: space-between;
position: relative;
align-items: center;
}
.p-navigation bar.Flex276 {
display: flex;
width: 540px;
flex-direction: column;
row-gap: 10px;
}
.p-navigation bar.Flex269 {
display: flex;
flex-direction: column;
font-family: IBM Plex Sans;
font-weight: 700;
font-size: 54px;
}
.p-navigation bar.Div84 {
;
}
.p-navigation bar.Div85 {
;
}
.p-navigation bar.Div86 {
;
}
.p-navigation bar.Blogs_section {
display: flex;
justify-content: center;
}
.p-navigation bar.Product_section {
display: flex;
justify-content: center;
}
.p-navigation bar.Features_section {
display: flex;
justify-content: center;
}
.p-navigation bar.Testimonial_section {
display: flex;
justify-content: flex-start;
height: ;
flex-direction: column;
align-items: center;
}
.p-navigation bar.FAQ_section {
display: flex;
flex-direction: column;
height: 200px;
width: 100%;
align-items: center;
}
.p-navigation bar.Footer {
display: flex;
justify-content: center;
}
.p-navigation bar.Flex311 {
display: inline-flex;
z-index: 2147483647;
width: 130px;
height: 20px;
background-color: #ffff;
position: fixed;
right: 12px;
bottom: 12px;
border-width: 1px;
border-style: solid;
padding-top: 6px;
padding-right: 8px;
padding-bottom: 6px;
padding-left: 6px;
margin-top: 0px;
margin-right: 0px;
margin-bottom: 0px;
margin-left: 0px;
border-radius: 3px;
border-color: #AAADB0ff;
align-items: center;
justify-content: space-around;
column-gap: ;
}
.p-navigation bar.Main_cover {
display: flex;
justify-content: center;
width: 100%;
}
.p-navigation bar.mngnavbar {
display: flex;
width: 85%;
}
.p-navigation bar.mng_hero {
display: flex;
width: 860px;
}
.p-navigation bar.mng_album {
display: flex;
width: 85%;
}
.p-navigation bar.TextBox107 {
font-family: IBM Plex Sans;
font-weight: 700;
font-size: 24px;
}
.p-navigation bar.TextBox108 {
font-family: IBM Plex Sans;
font-weight: 700;
font-size: 14px;
}
.p-navigation bar.TextBox106 {
font-family: IBM Plex Sans;
font-weight: 500;
font-size: 18px;
}
.p-navigation bar.Image75 {
align-self: auto;
}
.p-navigation bar.Image76 {
width: 380px;
height: 305px;
}
.p-navigation bar.TextBox110 {
font-family: IBM Plex Sans;
font-weight: 700;
font-size: 24px;
}
.p-navigation bar.TextBox111 {
font-family: IBM Plex Sans;
font-weight: 700;
font-size: 14px;
}
.p-navigation bar.TextBox109 {
font-family: IBM Plex Sans;
font-weight: 500;
font-size: 18px;
}
.p-navigation bar.Image77 {
align-self: auto;
}
.p-navigation bar.Image78 {
width: 380px;
height: 305px;
}
.p-navigation bar.TextBox113 {
font-family: IBM Plex Sans;
font-weight: 700;
font-size: 24px;
}
.p-navigation bar.TextBox114 {
font-family: IBM Plex Sans;
font-weight: 700;
font-size: 14px;
}
.p-navigation bar.TextBox112 {
font-family: IBM Plex Sans;
font-weight: 500;
font-size: 18px;
}
.p-navigation bar.Image79 {
align-self: auto;
}
.p-navigation bar.Image80 {
width: 380px;
height: 305px;
}
.p-navigation bar.TextBox116 {
font-family: IBM Plex Sans;
font-weight: 700;
font-size: 24px;
}
.p-navigation bar.TextBox117 {
font-family: IBM Plex Sans;
font-weight: 700;
font-size: 14px;
}
.p-navigation bar.TextBox115 {
font-family: IBM Plex Sans;
font-weight: 500;
font-size: 18px;
}
.p-navigation bar.Image81 {
align-self: auto;
}
.p-navigation bar.Image82 {
width: 380px;
height: 305px;
}
.p-navigation bar.TextBox119 {
font-family: IBM Plex Sans;
font-weight: 700;
font-size: 24px;
}
.p-navigation bar.TextBox120 {
font-family: IBM Plex Sans;
font-weight: 700;
font-size: 14px;
}
.p-navigation bar.TextBox118 {
font-family: IBM Plex Sans;
font-weight: 500;
font-size: 18px;
}
.p-navigation bar.Image83 {
align-self: auto;
}
.p-navigation bar.Image84 {
width: 380px;
height: 305px;
}
.p-navigation bar.Flex261 {
display: flex;
background-color: #000000;
width: 150px;
height: 60px;
position: static;
}
.p-navigation bar.Button10 {
color: #ffffff;
background-color: #000000;
padding-top: 8px;
padding-left: 15px;
padding-bottom: 8px;
padding-right: 15px;
font-size: 16px;
border-radius: 2px;
outline: none;
font-weight: 400;
text-align: center;
border-width: 1px;
border-style: solid;
border-color: #000000;
cursor: pointer;
user-select: none;
width: 150px;
height: 60px;
align-self: center;
position: absolute;
bottom: 57px;
right: 7px;
font-family: IBM Plex Sans;
}
.p-navigation bar.TextBox103 {
line-height: 60px;
}
.p-navigation bar.TextBox104 {
line-height: 60px;
}
.p-navigation bar.TextBox105 {
font-family: IBM Plex Sans;
font-size: 22px;
font-weight: 700;
align-self: flex-start;
}
.p-navigation bar.mng_blogs {
display: flex;
width: 85%;
}
.p-navigation bar.mng_product {
display: flex;
width: 85%;
}
.p-navigation bar.mng_features {
display: flex;
width: 85%;
}
.p-navigation bar.mng_bottom_testimonial {
display: flex;
width: 85%;
height: ;
}
.p-navigation bar.mng_top_testimonal {
display: flex;
width: 85%;
}
.p-navigation bar.mng_top_faq {
display: flex;
width: 85%;
}
.p-navigation bar.mng_bottom_faq {
display: flex;
width: 85%;
}
.p-navigation bar.mng_footer {
display: flex;
width: 85%;
}
.p-navigation bar.Image85 {
width: 100px;
height: 10px;
}
.p-navigation bar.Image86 {
;
}
.p-navigation bar.mng_cover {
display: flex;
width: 85%;
}
